<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="myApp">
        {{ listaFrases }}     
        <hr>
        <ul>
            <li v-for="mifrase in listaFrases">{{ mifrase.frase }} - {{ mifrase.autor }}
                <button>{{ mifrase.autor}}</button>
                <p>{{ mifrase.frase}}</p>
            </li>

        </ul>    
        <hr>    
        <label for="idfrase">frase:</label>
        <input id="idfrase" type="text">
        <label for="idautor">autor:</label>
        <input id="idautor" type="text">
        <button>agregar</button>
        <ul>
            <li v-for="{frase,autor} in listaFrases">{{ frase }} - {{ autor }}
                <button>{{ autor}}</button>
                <p>{{ frase}}</p>
            </li>

        </ul>                                                                                                                                                                                                                      
    </div>
    <script src="../js/appFrases.js"></script>
</body>

</html>